*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Quicksand',sans-serif;
    height:100vh;
    overflow:hidden;

    background:linear-gradient(
        135deg,
        #fff8f8,
        #ffeef5,
        #fff8e9,
        #fef7ff
    );

    display:flex;
    justify-content:center;
    align-items:center;
}

#passwordPage{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.password-card{

    width:340px;

    background:white;

    border-radius:35px;

    padding:40px 25px;

    text-align:center;

    box-shadow:
    0 20px 60px rgba(0,0,0,.08);

}

.password-card h1{

    font-family:'Pacifico',cursive;

    color:#ff6fa7;

    font-size:34px;

    margin-bottom:15px;

}

.password-card p{

    color:#777;

    margin-bottom:25px;

}

input{

    width:100%;

    padding:16px;

    border:none;

    border-radius:18px;

    background:#fff4f8;

    font-size:16px;

    outline:none;

}

button{

    width:100%;

    margin-top:18px;

    padding:16px;

    border:none;

    border-radius:18px;

    background:#ff84b7;

    color:white;

    font-size:18px;

    cursor:pointer;

}

button:hover{

    transform:scale(1.03);

}
.hidden{
    display:none;
}


#envelopePage{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}


.envelope-card{

    width:340px;

    background:white;

    padding:35px 25px;

    border-radius:35px;

    text-align:center;

    box-shadow:
    0 20px 60px rgba(0,0,0,.08);

}


.envelope{

    width:150px;

    animation:float 2s infinite ease-in-out;

}


.envelope-card h1{

    color:#ff6fa7;

    font-family:'Pacifico',cursive;

    margin-top:20px;

}


@keyframes float{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-15px);
    }

    100%{
        transform:translateY(0);
    }

}
#envelopePage{
    display:none;
}
